<div  class="nosotros">
    <div class="box-n">
      <div class="box-t">
        <h1>Visión</h1>
      </div>
      <div class="box-parrafo">
        <p>
            Ser la tienda de vinilos de referencia en nuestra comunidad y más allá, reconocida por nuestra dedicación a la calidad, la autenticidad, 
            y la cultura musical. Aspiramos a expandir nuestra presencia, creando una comunidad vibrante de amantes del vinilo, y a contribuir al renacimiento 
            y la sostenibilidad de la música analógica en un mundo digital.</p>
      </div> 
    </div> 
    
    <hr style="width: 70%; margin: auto;">
    
    <div class="box-n">
        <div class="box-t">
          <h1>Misión</h1>
        </div>
        <div class="box-parrafo">
          <p>
            Ofrecer a nuestros clientes una experiencia única en la compra de vinilos, combinando la pasión por la música con una cuidada selección 
            de discos de alta calidad. Nos comprometemos a proporcionar un servicio excepcional, que conecte a las personas con el arte de la música en 
            su formato más auténtico, y a promover la cultura del vinilo entre las nuevas y viejas generaciones de melómanos.</p>
        </div> 
    </div> 
    <div class="box-n2">
        <div class="box-t2" style="width: 500px; padding-top: 30px;">
        <h5>Cada álbum que ofrecemos ha sido seleccionado con esmero, no solo por su calidad musical, sino también por la belleza de sus portadas y las historias que encierran.
            Únete a nosotros en este viaje sonoro y descubre el placer perdurable de sumergirse en el mundo envolvente de los vinilos.</h5>
        </div>  
    </div>
</div>
