

img{
    height: 300px;
    width: 300px;
}

.productos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 100px;
}

.lista-producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    margin: 10px;
    gap: 40px;
}   

.descripcion-btn{
    display: flex;
    margin-top: 50px;
}


.btn-a{
    width: 100px;
    height: 40px;
    background-color: #64c630;
    color: white;
    border: none;
}

.btn-a:hover{
    background-color: black  ;
    
}

@media (max-width: 1000px){
    .descripcion-btn{
        flex-wrap: wrap;
        width: 400px;
        gap: 10px;
    }
}

@media (max-width: 900px){
    .lista-producto{
        justify-content: center;
        text-align: center;
        margin-top: 5px;
    }

    .descripcion-btn{
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .productos{
        gap: 20px;
    }
}
